.container {
  width: 330px;
  height: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url("imagebackground.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  margin: 5px;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#message {
  text-align: center;
  margin-top: 20px;
}

#message.success {
  color: green;
}

#message.error {
  color: red;
}

#login_label{
    padding-left: 35px;
}
